@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, arial;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: -1.5px;
}

header ul {
    width: 90%;
    max-width: 1280px;
    display: flex;
    justify-items: space-between;
    align-items: center;
    gap: 56px;
    margin: auto;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: white;
}

#pesquisa input[type="search"] {
    border: none;
    padding: 16px;
    border-radius: 32px;
}

footer {
    width: 100%;
    padding: 56px 0 32px 0;
    display: flex;
    gap: 56px;
    background-color: #eee;
    color: white;
    margin: 56px 0 0 0;
    color: #302f2f;
}

footer a {
    text-decoration: none;
    color: #302f2f;
}

footer a:hover {
    color: #006eff;
    transition: 0.4s ease-in;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

footer ul {
    display: flex;
    gap: 24px;
}

footer ul li {
    list-style: none;
}

footer .limiter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

main {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

#lista-publicacoes {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.card-post {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 8px;
    font-size: 16px;
}

.card-post a {
    text-decoration: none;
    font-size: 20px;
    color: #353535;
}

.card-post a:hover {
    color: #006eff;
    transition: 0.4s ease-in;
}

.card-post time,
p {
    color: #656565;
}

.card-post img {
    border-radius: 16px;
}

#destaque .banner {
    width: 90%;
    max-width: 1280px;
    height: 300px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: left;
    background-color: #302f2f;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 140px auto 56px auto;
}

.banner-image {
    width: 50%;
    max-height: 300px;
    object-fit: cover;
    display: flex;
}

.banner-content h2 {
    font-size: 2rem;
    margin: 0;
}

.banner-content p {
    color: #ddd;
    font-size: 16px;
    margin-top: 8px;
}

.banner-content a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2px 2px 24px black;
}

.banner-content a:hover {
    color: #006eff;
    transition: 0.4s ease-in;
}

.lista-links {
    width: 90%;
    max-width: 980px;
    margin: 56px 0 0 0;
}

.lista-links ul {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.lista-links ul li {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
}

.lista-links ul li a {
    border-radius: 16px;
    padding: 8px;
    color: white;
    text-decoration: none;
    width: fit-content;
    background-color: #006eff;
}


.lista-links ul li a:hover {
    background-color: #004094;
    transition: 0.4s ease-in;
}