.header-section h1{
    margin-top: 140px;
    margin-bottom: 16px;
}

#midias-destaques {
    display: flex;
    text-align: center;
}

.destaques-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.destaques-container img {
    width: auto;
    height: 64px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.destaques-container img:hover {
    transform: scale(1.1);
}

#lista-materias {
    margin-top: 40px;
}

#lista-materias ul {
    list-style-type: none;
    padding: 0;
}

#lista-materias li {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#lista-materias li strong {
    font-size: 1.2rem;
    color: #0077ff;
    display: block;
    margin-bottom: 10px;
}

#lista-materias li p {
    margin: 10px 0;
    color: #555;
    line-height: 1.4;
}

#lista-materias li a {
    font-weight: bold;
    color: #0077ff;
}

#lista-materias li a:hover {
    text-decoration: underline;
}