<footer>
    <div class="limiter">
        <div>
            <p class="logo">
                ANDYMARINHO
            </p>
            <p>Todos os direitos reservados, 2024</p>
        </div>
        <div>
            <h2>Contato</h2>
            <ul>
                <li>
                    <a href="mailto:andersonmarinho@mindindex.org">
                        andersonmarinho@mindindex.org
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <h2>Mídias sociais</h2>
            <ul>
                <li>
                    <a href="https://www.instagram.com/theandymarinho/">
                        <img src="statics/img/instagram.png" alt="Instagram" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/andersonmsmarinho">
                        <img src="statics/img/linkedin.png" alt="LinkedIn" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>