<header>
    <ul>
        <li>
            <a href="/" class="logo">
                Andy<span style="color: #0077ff;">Marinho</span>
            </a>
        </li>
        <li><a href="/about/index.html">Sobre</a></li>
        <li><a href="/press/index.html">Na mídia</a></li>
        <li><a href="/portfolio/index.html">Portfólio</a></li>
        <li><a href="/posts/index.html">Publicações</a></li>
        <div id="pesquisa">
            <input type="search" placeholder="Busque alguma coisa..." />
        </div>
    </ul>
</header>